<switch class="center" [tipo]=tipo></switch>
<div *ngIf="!tipo.signup"><!--Form del Sign Up-->
  <form [formGroup]="signupForm">
    <div>
      <label for="email">Email:</label>
      <input name="email" placeholder="Email" formControlName="email">
      <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
        L'email inserita non è valida!
      </div>
    </div>
    <div>
      <label for="nome">Nome:</label>
      <input name="nome" placeholder="Nome" formControlName="nome">
    </div>
    <div>
      <label for="cognome">Cognome:</label>
      <input name="cognome" placeholder="Cognome" formControlName="cognome">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="Password" formControlName="password">
      <div *ngIf="signupForm.get('password')?.hasError('pattern') && signupForm.get('password')?.touched">
          {{signupForm.get('password')?.hasError('pattern')}}La password inserita non è valida! Deve contenere:
          <ul>
            <li>Tra gli 8 e 20 caratteri</li>
            <li>Almeno una lettera maiuscola e una minuscola</li>
            <li>Almeno un numero</li>
            <li>Almeno un carattere speciale (@, $, !, %, *, ?, &)</li>
          </ul>
      </div>
    </div>
    <div>
      <label for="cpassword">Conferma Password:</label>
      <input type="password" name="cpassword" placeholder="Reinserisci Password" formControlName="cpassword">
      <div *ngIf="signupForm.get('password')?.getRawValue()!==signupForm.get('cpassword')?.getRawValue() && signupForm.get('cpassword')?.touched">Le password non coincidono!</div>
    </div>
    <button (click)="onSignup()" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
</div>
<div *ngIf="tipo.signup"><!--Form del Login-->
  <form [formGroup]="loginForm">
    <div>
      <label for="email">Email:</label>
      <input name="email" placeholder="Inserire Email" formControlName="email">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="Inserire Password" formControlName="password">
    </div>
    <div>
      <input type="radio" id="utente" name="isGestore" [value]=false formControlName="isGestore">
      <label for="utente">Utente</label>
      <input type="radio" id="gestore" name="isGestore" [value]=true formControlName="isGestore">
      <label for="gestore">Gestore</label>
    </div>
    <button (click)="onLogin()" [disabled]="loginForm.invalid">Log In</button>
  </form>
</div>