<div class="container text-center">
  <div *ngIf="!tipo.signup"><!--Form del Sign Up-->
    <form [formGroup]="signupForm">
      <div class="form-floating mb-2">
        <input class="form-control" id="email" name="email" placeholder formControlName="email">
        <label for="email">Email</label>
        <div class="alert alert-danger" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
          L'email inserita non è valida!
        </div>
      </div>
      <div class="row mb-2">
        <div class="col form-floating">
          <input class="form-control" id="nome" name="nome" placeholder formControlName="nome">
          <label for="nome">Nome</label>
        </div>
        <div class="col form-floating">
          <input class="form-control" id="cognome" name="cognome" placeholder formControlName="cognome">
          <label for="cognome">Cognome</label>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col form-floating">
          <input class="form-control" id="password" type="password" name="password" placeholder formControlName="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
          <label for="password">Password </label>
          <div class="alert alert-danger" *ngIf="signupForm.get('password')?.hasError('pattern') && signupForm.get('password')?.touched">
            Password non valida!
          </div>
        </div>
        <div class="col form-floating">
          <input class="form-control" id="cpassword" type="password" name="cpassword" placeholder formControlName="cpassword">
          <label for="cpassword">Conferma Password</label>
          <div class="alert alert-danger" *ngIf="signupForm.get('cpassword')?.getRawValue()!==signupForm.get('password')?.getRawValue()  && signupForm.get('cpassword')?.touched">
            Le password non coincidono!
          </div>
        </div>
      </div>      
      <div class="row">
        <div class="col">Hai già un account?<switch [tipo]=tipo></switch></div>
        <div class="col"><button class="btn btn-primary" (click)="onSignup()" [disabled]="signupForm.invalid">Sign Up</button></div>
      </div>
    </form>
  </div>
  <div *ngIf="tipo.signup"><!--Form del Login-->
    <form [formGroup]="loginForm">
      <div class="form-floating mb-2">
        <input class="form-control" id="email" name="email" placeholder formControlName="email">
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-2">   
        <input class="form-control" type="password" name="password" placeholder formControlName="password">
        <label for="password">Password</label>
      </div >
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="utente" name="isGestore" [value]=false formControlName="isGestore">
        <label class="form-check-label" for="utente">Utente</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="gestore" name="isGestore" [value]=true formControlName="isGestore">
        <label class="form-check-label" for="gestore">Gestore</label>
      </div>
      <div class="row">
        <div class="col">Non sei registrato?<switch [tipo]=tipo></switch></div>
        <div class="col"><button class="btn btn-primary" (click)="onLogin()" [disabled]="loginForm.invalid">Log In</button></div>
      </div>
    </form>
  </div>
</div>