<div class="position-absolute bottom-0 end-0"><img src="assets/logo.png" width="110" height="150"></div>
Benvenuto [[Nome Gestore qui]]<!--Abbiamo bisogno di recuperare i dati da DB, probabilmente conviene farlo in fase di login ed inserirlo nel DataService
                                    Potrebbe essere utilizzato anche per l'utente, per personalizzare ulteriormente l'esperienza.-->
<div *ngFor=""><!--Itera per ogni cluster relativo al gestore-->
    <div *ngFor=""><!--Itera per ogni segnalazione relativa al cluster-->

    </div>
</div>