<div class="position-absolute bottom-0 end-0"><img src="assets/logo.png" width="110" height="150"></div>
<div class="spinner-border" role="status" *ngIf="!caricato">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="h3" *ngIf="caricato">
    Benvenuto {{nome}} {{cognome}}
    <div class="alert alert-danger" *ngIf="error">
        Una o più segnalazioni non sono state convalidate.
    </div>
    <div class="alert alert-success" *ngIf="conferma">
        Cluster convalidato con successo.
    </div>
    <div class="accordion" *ngFor="let cluster of data; index as i"><!--TODO:Salta i cluster che sono stati già convalidati-->
        <div *ngIf="cluster.id_cluster.id_stato!='2'">
            <div class="accordion-item">
                <div class="accordion-header">
                    <a role="button" class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" [href]="'#collapse'+i">
                        Cluster: {{cluster.id_cluster.id_cluster}}, ({{cluster.id_cluster.latitudine}},{{cluster.id_cluster.longitudine}})
                    </a>
                    <button class="btn btn-success" (click)="onConfermaAll(cluster)">Convalida</button>
                    <button class="btn btn-danger" (click)="onWarnAll(cluster)">Warn</button>
                    <button class="btn btn-primary" (click)="onConfermaCluster(cluster)" >Conferma</button>            
                </div>
                <div [id]="'collapse'+i" class="accordion-collapse collapse">
                    <div class="list-group" *ngFor="let segnalazione of cluster.segnalazioni;index as j">
                        <div class="list-group-item">
                            <div>
                                Segnalazione:{{segnalazione.id_segnalazione}}
                            </div>
                            <div class="d-inline" *ngIf="segnalazione.foto">
                                <a role="button" type="button" data-bs-toggle="modal" [href]="'#modal'+i+'-'+j"><img src={{segnalazione.foto}} width="150"height="125"></a><!--TODO:Clicca e ricevi un'anteprima più grande-->
                            </div>
                            <div class="modal fade bg-dark" [id]="'modal'+i+'-'+j" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--Espansione foto-->
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><!--Pulsante di chiusura foto-->
                                        </div>
                                        <div class="modal-body text-center">
                                            <img src="{{segnalazione.foto}}">
                                        </div>
                                    </div>
                               </div>
                            </div>
                            <div class="d-inline" *ngIf="segnalazione.descrizione">
                                Descrizione:{{segnalazione.descrizione}}
                            </div>
                            <div class="d-inline">
                                <select class="form-select" [id]="'options'+i+'-'+j">
                                    <option value="1" [selected]="segnalazione.id_Tipo=='1'" (click)="segnalazione.id_Tipo='1'">Piccolo</option>
                                    <option value="2" [selected]="segnalazione.id_Tipo=='2'" (click)="segnalazione.id_Tipo='2'">Grande</option>
                                    <option value="3" [selected]="segnalazione.id_Tipo=='3'" (click)="segnalazione.id_Tipo='3'">Liquido</option>
                                    <option value="4" [selected]="segnalazione.id_Tipo=='4'" (click)="segnalazione.id_Tipo='4'">Altro</option>
                                </select>
                            </div>
                            <div class="d-inline">
                                <button class="btn " (click)="onConvalidaSegnalazione(segnalazione)" [ngClass]="{'btn-secondary':segnalazione.id_Stato=='1','btn-success':segnalazione.id_Stato=='2','btn-danger':segnalazione.id_Stato=='3'}">Segnalazione non valida?</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="alert alert-primary" *ngIf="vuoto">
        Nessun Cluster.
    </div>
</div>