<switch [tipo]=tipo></switch>
<div *ngIf="!tipo.signup"><!--Form del Sign Up-->
  <form #usersignup="ngForm" (ngSubmit)="onSignup(usersignup.value)">
    <div>
      <label for="email">Email:</label>
      <input name="email" placeholder="email" ngModel>
    </div>
    <div>
      <label for="username">Username:</label>
      <input name="username" placeholder="username" ngModel>
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="password" ngModel>
    </div>
    <button type="submit" value="submit">Sign Up</button>
    </form>
</div>
<div *ngIf="tipo.signup"><!--Form del Login-->
  <form #userlogin="ngForm" (ngSubmit)="onLogin(userlogin.value)">
  <div>
    <label for="username">Username:</label>
    <input name="username" placeholder="username" ngModel>
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="password" ngModel>
  </div>
  <div>
    <input type="radio" id="utente" name="isGestore" value=false ngModel>
    <label for="utente">Utente</label>
    <input type="radio" id="gestore" name="isGestore" value=true ngModel>
    <label for="gestore">Gestore</label>
  </div>
  <button type="submit" value="submit">Log In</button>
  </form>
</div>