<div class="position-absolute bottom-0 end-0"><img src="assets/logo.png" width="110" height="150"></div>
<div class="container position-absolute top-50 start-50 translate-middle">    
    <div class="text-center">
        <form [formGroup]="segnalazioneForm">
            <div class="row">    
                <div class="col-0 col-md-3"></div>    
                <div class="col-0 col-md-6">      
                    <h1 class="display-5 text-light">Nuova Segnalazione</h1><hr class="border border-dark border-1 opacity-75">
                 </div>  
                <div class="col-0 col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-0 col-md-3"></div>
                <div class="col-0 col-md-6">
                    <div class="form-control mb-2">
                        <label for="immagine">Fotografia del rifiuto</label>
                        <input class="form-control" type="file" id="immagine" name="immagine" formControlName="immagine">                        
                    </div>
                </div>
                <div class="col-0 col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-0 col-md-3"></div>
                <div class="col-0 col-md-6">
                    <div class="form-floating mb-2">
                        <select class="form-select" id="tipoRifiuto" formControlName="tipoRifiuto">
                            <option value=piccolo>Piccolo</option>
                            <option value=grande>Grande</option>
                            <option value=grande>Liquido</option>
                            <option value=grande>Altro</option>
                        </select>
                        <label for="tipoRifiuto">Tipo Rifiuto</label>
                    </div>
                </div>
                <div class="col-0 col-md-3"></div>                
            </div>
            <div class="row">
                <div class="col-0 col-md-3"></div> 
                <div class="col-0 col-md-6">
                    <div class="form-floating mb-2">
                        <textarea class="form-control rows=4" id="descrizione" name="descrizione" placeholder="Breve Descrizione" rows="4" formControlName="descrizione"></textarea>
                        <label for="email">Descrizione</label>
                    </div>
                </div> 
                <div class="col-0 col-md-3"></div>            
            </div>
            <div class="row">                
                <div class="col-0 col-md-3"></div>
                <div class="col-0 col-md-6"><hr class="border border-dark border-1 opacity-75"><button class="btn btn-primary" (click)="onSubmit()" [disabled]="segnalazioneForm.invalid">Submit</button></div>
                <div class="col-0 col-md-3"></div>            
            </div>
        </form>
    </div>
</div>