<button class="btn btn-link position-absolute start-0 top-0 btn-lg" (click)="home()"><span class="material-icons"><h1 class="h3 text-dark">home</h1></span></button>

<div class="container text-center position-absolute top-50 start-50 translate-middle">
    <div class="row p-2">
        <div class="col-12">
            <h1 class="h3 text-end">Crediti: {{crediti}}</h1><!--TODO: Prendere i crediti dal backend-->
        </div>        
    </div>
    <div class="row p-2 justify-content-center">
        <div class="col-10 p-2 col-md-3 justify-content-center text-center">
            <div class="card"*ngIf="selezionato==1">
                <img src="assets/parcheggio.png" class="card-img-top" alt="..."  width="300" height="250">
                <div class="card-body">
                  <h5 class="card-title"><button class="btn btn-link " (click)="selezionato=selezionato-1" disabled><span class="material-icons">arrow_back_ios</span></button>Ore di Parcheggio<button class="btn btn-link" (click)="selezionato=selezionato+1"><span class="material-icons">arrow_forward_ios</span></button></h5>
                  <p class="card-text">Costo: 50 crediti/ora<br>Per il tuo contributo alla pulizia del comune, puoi ottenere un ticket per un'ora o più di parcheggio gratuito.</p>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-sm btn-danger" (click)="card1=card1-1" [disabled]="card1==0"><span class="material-icons">remove</span></button>
                    <button type="button" class="btn btn-sm btn-outline-light disabled"><h1 class="h3 text-dark">{{card1}}</h1></button>
                    <button type="button" class="btn btn-sm btn-success" (click)="card1=card1+1"><span class="material-icons">add</span></button>
                  </div>
                </div>
              </div>
            <div class="card" *ngIf="selezionato==2">
                <img src="assets/bici.jpg" class="card-img-top" alt="..."  width="300" height="250">
                <div class="card-body">
                  <h5 class="card-title"><button class="btn btn-link " (click)="selezionato=selezionato-1"><span class="material-icons">arrow_back_ios</span></button>Bicicletta<button class="btn btn-link" (click)="selezionato=selezionato+1"><span class="material-icons">arrow_forward_ios</span></button></h5>
                  <p class="card-text">Costo: 1000 crediti<br>Per il tuo contributo alla pulizia del comune, potrai ottenere una bici presso un centro specializzato.</p>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-sm btn-danger" (click)="card2=card2-1" [disabled]="card2==0"><span class="material-icons">remove</span></button>
                    <button type="button" class="btn btn-sm btn-outline-light disabled"><h1 class="h3 text-dark">{{card2}}</h1></button>
                    <button type="button" class="btn btn-sm btn-success" (click)="card2=card2+1"><span class="material-icons">add</span></button>
                  </div>
                </div>
              </div>
            <div class="card" *ngIf="selezionato==3">
                <img src="assets/monopattino.jpg" class="card-img-top" alt="..."  width="300" height="250">
                <div class="card-body">
                  <h5 class="card-title"><button class="btn btn-link " (click)="selezionato=selezionato-1"><span class="material-icons">arrow_back_ios</span></button>Monopattino<button class="btn btn-link" (click)="selezionato=selezionato+1" disabled><span class="material-icons">arrow_forward_ios</span></button></h5>
                  <p class="card-text">Costo: 100 crediti/ora<br>Per il tuo contributo alla pulizia del comune, potrai ottenere ore da utilizzare per i monopattini elettrici forniti dal comune.</p>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-sm btn-danger" (click)="card3=card3-1" [disabled]="card3==0"><span class="material-icons">remove</span></button>
                    <button type="button" class="btn btn-sm btn-outline-light disabled"><h1 class="h3 text-dark">{{card3}}</h1></button>
                    <button type="button" class="btn btn-sm btn-success" (click)="card3=card3+1"><span class="material-icons">add</span></button>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row p-2 justify-content-center">
        <div class="col-3 col-md-4"></div>
        <div class="col-6 col-md-4"><button type="button" class="btn btn-lg btn-primary" (click)="compra()" data-bs-toggle="modal" data-bs-target="#modalShop"><h1 class="h3">Acquista</h1></button></div>
        <div class="col-3 col-md-4"></div>
    </div>    
</div>
<div class="modal fade bg-dark" id="modalShop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--Pagina delle Info-->
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><h1 class="diplay-6">Riepilogo Carrello</h1></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><!--Pulsante di chiusura della pagina delle info-->
          </div>
          <div class="modal-body">
            <p class="lead">
              Stai acquistando:<br>
              {{carrello[0]}} ore di Parcheggio, costo: {{carrello[0]*50}}<br>{{carrello[1]}} Bici, costo: {{carrello[1]*1000}}<br>{{carrello[2]}} ore di Monopattino, costo: {{carrello[2]*100}}<br>Costo Totale: {{totale}}
            </p>
            <button class="btn btn-primary" [disabled]="totale>crediti"><span class="material-icons">shopping_cart</span>Acquista</button>
            <div class="alert alert-danger" *ngIf="totale>crediti">
              Non hai abbastanza crediti
            </div>
          </div>
      </div>
 </div>
</div>