button{
    border-radius:15px;
    border-width:1px;
    background-color:lightblue;
    margin-bottom:10px;
  }

button:hover{
    box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
    transition: all 200ms ease-out;
  }